header
    nav#top-nav
      ul
        li
          a(href="#about") ABOUT
        li
          a(href="/users/#{user_id}/forecasts") TRY IT!
        li#logo
          a(href="/") 
            h1 dryride
        li 
          a(href="#contact") CONTACT
        li
          a(href="/users/auth/strava") LOGIN