extends ./layout.jade

block head
  title Home

block css
  link(rel="stylesheet" href="/stylesheets/home.css")
  link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')

block content
  header
    nav#top-nav
      ul
        li
          a(href="#") HOME
        li
          a(href="#") TRY IT OUT!
        li
          a(href="/")#logo DRYRIDE
        li 
          a(href="#") ABOUT
        li
          a(href="/") CONTACT
  div.wrapper
    section.hero-img
    article.article
      h1 some header
      section Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod officia, minima molestias, voluptates pariatur rerum consectetur, impedit atque eos culpa, iste asperiores quibusdam tenetur quasi vitae illum libero saepe neque.
    footer
      p #[small &copy Copyright 2016 | Site by Christina Jensen]
        //- #[small Proudly Made in San Francisco, CA]

block scripts
  script(src="/javascripts/home.js")