@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;;
  /*border: 1px solid black;*/
}

.wrapper {
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.hero-img {
  background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0)), url('/images/women-cycling.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 95vh;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition: all 0.25s ease;
}

/*-----navbar----*/

#top-nav.past-heroImg{
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.25s ease;
}

#top-nav {
  margin: auto;
  text-align: center;
  padding-top: 60px;
}

#top-nav ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  /*border: 1px solid black;*/
}

#top-nav ul li {
  float: left;
  margin: 20px;
  /*border: 1px solid black;*/
}

#top-nav ul li a {
  color: lightgrey;
  text-decoration: none;
  font-size: 15px;
}

#top-nav ul li a.past-heroImg {
  color: black;
}

#top-nav ul li:hover a {
  color: white;
}

#top-nav.past-heroImg ul li:hover a {
  color: grey;
}

/*------logo-----*/

#logo h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  margin-top: -20px;
}

#logo.past-heroImg {
  color: black;
}

/*-----next section------*/

article h1 {
  padding-top: 40px;
  text-align: center;
  background-color: lightgrey;
}

article section {
  padding-top: 10px;
  text-align: center;
  background-color: lightgrey;
  height: 600px;
} 

footer {
  height: 200px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 79px;
  color: black;
}