extends ../layout.jade

block head
  title Forecast

block css
  link(rel="stylesheet", href="/stylesheets/forecasts.css")

block content
  div.wrapper
    h1 What's the weather like today? 
    div(id="map")

block scripts
  script.async.defer(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF17HDx69mMHw_UaruwHgOK9nojBCF28g&libraries=geometry")
  script(type="text/javascript" src="/javascripts/forecasts.js")